In [1]:
import pandas as pd
import lightkurve as lk

In [2]:
valid_authors = ["Kepler","K2", "SPOC","TESS-SPOC","QLP","TASOC","PATHOS","CDIPS","K2SFF","EVEREST","TESScut","GSFC-ELEANOR-LITE"]

In [3]:
tess_data_master = pd.read_csv('tess_data.csv')
tess_data_master.head()

,TIC ID,TOI,Previous CTOI,Master,SG1A,SG1B,SG2,SG3,SG4,SG5,...,Stellar Radius (R_Sun) err,Stellar Metallicity,Stellar Metallicity err,Stellar Mass (M_Sun),Stellar Mass (M_Sun) err,Sectors,Date TOI Alerted (UTC),Date TOI Updated (UTC),Date Modified,Comments
0,231663901,101.01,NaN,5,5,5,5,5,5,5,...,0.043847,NaN,NaN,1.05,0.129454,"1,27",2018-09-05,2021-10-07,2022-12-14 12:09:24,WASP-46 b
1,149603524,102.01,NaN,5,5,5,5,5,5,5,...,0.050000,0.24,0.05,1.28,0.190812,"1,2,3,4,6,7,8,9,10,11,12,13,27,28,29,30,31,32,...",2019-05-07,2023-04-04,2023-04-07 12:13:06,WASP 62 b
2,336732616,103.01,NaN,5,5,5,5,5,5,5,...,NaN,NaN,NaN,1.27,0.196969,1,2018-09-05,2020-10-27,2022-12-14 12:09:24,HATS-3 b
3,231670397,104.01,NaN,5,5,5,5,5,5,5,...,0.102573,NaN,NaN,1.16,0.166129,"1,27",2018-09-05,2021-12-01,2022-12-14 12:09:24,WASP-73 b
4,144065872,105.01,NaN,5,5,5,5,5,5,5,...,0.059699,NaN,NaN,1.03,0.127209,"1,28",2018-09-05,2021-12-08,2022-12-14 12:09:24,WASP-95; epoch kept from qlp-s28-tois

In [4]:
tess_id_list = tess_data_master['TIC ID']

In [5]:
id_string = f'TIC {231663901}'

q = lk.search_lightcurve(id_string)

list_of_columns = list(q.table.columns)

In [6]:
whole_df = ''

#for t in tess_id_list[:70]
for i in range(10):

    print(f'At step {i}') #Counter for tracking where the current iteration of the loop
    t = tess_id_list[i]

    id_string = f'TIC {t}'

    q = lk.search_lightcurve(id_string)

    # Stores all of the authors from different observations
    # For a given lightcurve

    columns_master_list = list(q.table.columns)
    columns_to_add = []
    for col in columns_master_list:
        c = q.table[col]

        c = pd.DataFrame(c)

        columns_to_add.append(c)

    temp_df = pd.concat(columns_to_add, axis=1)
    temp_df.columns = columns_master_list

    if t == tess_id_list[0]:
        whole_df = temp_df
    else:
        whole_df = pd.concat([whole_df, temp_df], axis=0, ignore_index=True)


whole_df.head()

At step 0
At step 1
At step 2
At step 3
At step 4
At step 5
At step 6
At step 7
At step 8
At step 9

,intentType,obs_collection,provenance_name,instrument_name,project,filters,wavelength_region,target_name,target_classification,obs_id,...,size,parent_obsid,dataRights_products,calib_level_products,author,mission,#,year,sort_order,objID1
0,science,TESS,SPOC,Photometer,TESS,TESS,Optical,231663901,NaN,tess2018206045859-s0001-0000000231663901-0120-s,...,2039040,60831534,PUBLIC,3,SPOC,TESS Sector 01,None,2018,1,NaN
1,science,HLSP,TESS-SPOC,Photometer,TESS,TESS,Optical,231663901,NaN,hlsp_tess-spoc_tess_phot_0000000231663901-s000...,...,164160,59790800,PUBLIC,4,TESS-SPOC,TESS Sector 01,None,2018,2,NaN
2,science,HLSP,QLP,Photometer,TESS,TESS,Optical,231663901,NaN,hlsp_qlp_tess_ffi_s0001-0000000231663901_tess_...,...,80640,59435391,PUBLIC,4,QLP,TESS Sector 01,None,2018,3,NaN
3,science,HLSP,TASOC,Photometer,TESS,TESS,Optical,231663901,NaN,hlsp_tasoc_tess_tpf_tic00231663901-s0001-cam2-...,...,1880640,79386350,PUBLIC,4,TASOC,TESS Sector 01,None,2018,9,NaN
4,science,HLSP,GSFC-ELEANOR-LITE,Photometer,TESS,TESS,Optical,231663901,NaN,hlsp_gsfc-eleanor-lite_tess_ffi_s0001-00000002...,...,106560,84490129,PUBLIC,4,GSFC-ELEANOR-LITE,TESS Sector 01,None,2018,9,NaN